# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

# Hooks for non-default diff hunk header
*.mk diff=make linguist-language=Makefile
*[Mm]akefile diff=make linguist-language=Makefile
.env.example diff=shell linguist-language=Shell
